.flex, .column, .row
	display flex

.wrap
	flex-wrap wrap

.row
	flex-direction row
.row-reverse
	flex-direction row-reverse

.column
	flex-direction column
.column-reverse
	flex-direction column-reverse



.items-center
	align-items center
.items-stretch
	align-items stretch
.items-start
	align-items flex-start
.items-end
	align-items flex-end
.items-left
	align-items left
.items-right
	align-items right
.items-between
	align-items space-between
.items-around
	align-items space-around


.justify-center
	justify-content center
.justify-stretch
	justify-content stretch
.justify-start
	justify-content flex-start
.justify-end
	justify-content flex-end
.justify-left
	justify-content left
.justify-right
	justify-content right
.justify-between
	justify-content space-between
.justify-around
	justify-content space-around


.flex-center
	@extends .flex, .justify-center, .items-center