.overflow-hidden
	overflow hidden
.overflow-auto
	overflow auto
.pointer-none
	pointer-events none
.skew-background-on-hover
	&:hover,
	&:active
		background-color var(--grey-4)
		&:not(.skew-background-on-hover-without-border)
			border-radius 10px